# -------------------
# Ignore ecommerce-specific folders
# for those of us who work on both.
#
# If you have purchased an eCommerce
# license and want to version your
# software through GIT, please remove
# these folders.
#
# NOTE: Files and folders for the module
# have been ignored because of symbolic
# linking in development environments.
# --------------------
app/helpers/ioncube_license_helper.php
app/ioncube_callback.php
app/modules/billing/*
app/modules/billing
app/modules/coupons/*
app/modules/coupons
app/modules/store/*
app/modules/store
system_info.php


# Ignore Mac folder files
*.DS_Store

# Ignore folders with custom or
# temporary files that don't need
# storing with the repo
app/config/config.php
app/config/database.php
app/config/installed.php
writeable/gateway_log.txt
writeable/custom_uploads/*
writeable/editor_uploads/*
writeable/image_thumbs/*
writeable/templates_cache/*
writeable/templates_compile/*

# Ignore cache folder, but not the
# htaccess or generic index file.
app/cache/*
!app/cache/.htaccess
!app/cache/index.html
writeable/routes.php
